<h2>
    Game Score : {{ player?.length }}
</h2>
<span>Choose Speed</span>
<input class="speed-select"
    type="range"
    min="1"
    max="100"
    [(ngModel)]="gameSpeed"
    (ngModelChange)="updateTickDelay()">
<br>
<div>
    <button (click)="startGame()">Start Game</button>
    <button (click)="stopGame()">Stop Game</button>
    <button (click)="restartGame()">Restart Game</button>
</div>

<span *ngIf="playerDead"
    class="game-over">
    <h1>
        GAME OVER
    </h1>
</span>
<app-map></app-map>
